

.content{
    margin-top: 50px;
}
form{
    margin-top: 15px;
}

/* CSS for form styling */

.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
    font-weight: bold;
    width: 100px; /* Adjust the width as needed */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitbutton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  
